/**
 * The Soundwaves
 */

.wdplayer {
  position: relative;
  width: 60rem;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.wdplayer-timeline {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.wdplayer-play {
  position: relative;
  z-index: 20;
  display: block;
  width: 2rem;
  height: 2rem;
  margin: -2.5rem auto 0;
  text-indent: -200em;
  overflow: hidden;
  border: 0;
  background: url(../img/play.png);
  background-size: 100% auto;

  .wdplayer-playing & {
    background-image: url(../img/pause.png);
  }
}

