/**
 * The Site's footer
 */

.footer {
  font-size: 0.875rem;
  margin-top: 5rem;
  padding: 2rem 0 0 0;
  background: $highlight-dark;
  color: #fff;
  text-align: center;

  a {
    color: $highlight-light;

    &:visited {
      color: $highlight-light;
    }
  }
}

.footer__authors {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    vertical-align: top;
  }

  a {
    display: inline-block;
    width: 6rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  img {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0 auto 1rem;
    border-radius: 50%;
  }
}

.footer__authors__other {
  font-size: 0.75rem;
}

.footer__follow {
  margin: 3rem 0;
}

.footer__navigation {
  padding: 1rem 2rem 2rem 2rem;
  background: darken($highlight-dark, 5);

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;

      > a {
        margin: 0 1rem;
      }
    }
  }
}

