/**
 * Page Header and Navigation
 */

.header {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header__logo {
  > a {
    display: inline-block;
    text-decoration: none;

    &:before {
      width: 15rem;
      height: 15rem;
      content: '';
      display: block;
      margin: 0 auto;
      background: url(../src/img/logo.svg) no-repeat 0 0;
      background-size: contain;
    }
  }
}
