/**
 * Navigation
 */
.navigation {

  position: absolute;
  right: 0;

  > ul {
    display: none;
    margin: 0.3rem 3rem 0 0;
    list-style: none;
    padding: 0;
    text-align: right;
  }

  a {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.75rem 0 0.25rem 0.25rem;
    text-decoration: none;
    border-bottom: 2px solid #fff;

    &:hover {
      border-bottom-color: darken($highlight, 10);
    }
  }

  &--visible {
    > ul {
      display: block;
    }
  }
}

.navigation__toggle {
  display: inline-block;
  float: right;
  position: relative;
  padding: 1rem 2.5rem 1rem 0.5rem;
  background: none;
  border: 0;
  color: $highlight;
  transition: color 100ms;
}

.navigation__toggle:focus {
  outline: none;
}

.navigation__toggle span,
.navigation__toggle span:before,
.navigation__toggle span:after {
  content: '';
  position: absolute;
  right: 0;
  background: $highlight;
  width: 28px;
  height: 4px;
  cursor: pointer;
  border-radius: 1px;

  transition: 250ms ease-in-out;
}

.navigation__toggle span {
  margin-top: 9px;
}

.navigation__toggle span:before {
  top: -8px;
}
.navigation__toggle span:after {
  bottom: -8px;
}

/**
 * Visible
 */
.navigation--visible .navigation__toggle {
  text-indent: -99em;
  overflow: hidden;
}

.navigation--visible .navigation__toggle span {
  background-color: transparent;
}

.navigation--visible .navigation__toggle span:before,
.navigation--visible .navigation__toggle span:after {
  top: 0;
}

.navigation--visible .navigation__toggle span:before {
  transform: rotate(45deg);
}

.navigation--visible .navigation__toggle span:after {
  transform: rotate(-45deg);
}
