/**
 * Revisions
 */

.revision {
	@include x-rem(padding, 0 2);

	max-width: 700px;
	margin: 0 auto;
}

.revision-title {
	@include x-rem(margin, 3 0 0.5);

	> a {
		text-decoration: none;
	}
}

.revision-date,
.revision-length,
.revision-listen {
	@include x-rem(margin-right, 1);
}

.revision-topics {
}
